<div id="upload-container">
    <h2>Upload file:</h2>
    <div class="input-field">
        <label for="description">Add description:</label><br>
        <input type="text" id="description" name="description" value="video description" #description><br>
    </div>
    <input type="file" class="input-file" (change)="onFileSelected($event, description.value)">
</div>
