#upload-container {
    display: flex;
    margin: auto;
    width: 25%;
    flex-direction: column;
    align-items: center;
}

.input-field {
    padding-top: 15px;
    display: flex;
}

label{
    padding-right: 10px;
}

.input-file {
    margin: 0;
    padding: 2rem 1.5rem;
    font: 1rem/1.5 "PT Sans", Arial, sans-serif;
    color: #5a5a5a;
}