<div id="download-container">
    <div id="video-container">
        <div *ngFor="let video of videos">
            <video id="video" controls autoplay poster="/assets/icons/place-holder-video.png">
                <source src="{{ downloadVideoByUrl(video.name) }}" type='video/mp4'>
            </video>
            <div id="video-info">
                <p id="name">NAME: {{ video.name }}</p>
                <p id="date">DATE: {{ video.date }}</p>
                <p id="description">DESCRIPTION: {{ video.description }}</p>
            </div>
        </div>
    </div>
</div>