#app-wrapper {
    display: flex;
    margin: auto;
    width: 25%;
    padding: 100px;
    flex-direction: column;
    align-items: center;
}

#title-container {
    display: flex;
    align-items: center;
}

#routing-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#video-icon {
    width: 45px;
    height: 45px;
    padding: 0px 0px 18px 5px;
}

button {
    width: 56%;
    height: 45px;
}