<div id="app-wrapper">
  <div id="title-container">
    <h1 class="title">VIDEO APPLICATION</h1>
    <img id="video-icon" src="/assets/icons/video.png">
  </div>
  <div id="routing-container">
    <button routerLink="/upload">upload video page</button>
    <button routerLink="/download">download video page</button>
  </div>
  
</div>
<router-outlet></router-outlet> 